body {
      margin:0;
      background:linear-gradient(180deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://c1.wallpaperflare.com/preview/543/870/536/interior-office-workspace-workplace.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  display:flex;
  flex-direction:column;
  height:100vh;
 }
    
.sign-in{
  background-color:rgba(255,255,255,0.2);
  border-radius:10px;
  align-self:center;
  padding:20px;
  margin:4% auto;
  width:95%;
  display:block;
}

.heading {
  font-size:1.8em;
  text-align:center;
  color:#fff;
  padding:15px;
  font-family: "Reem Kufi", sans-serif;
}

.header {
  color:#000;
  background-color:#dab817;
  padding:0 5px 0 5px;
  border-radius:5px;
}

.header-text {
  color:#fff;
  font-size:0.8em;
  font-family:"Playfair Display", sans-serif;
  text-align:center;
  margin:0 0.5em 0.2em 0.5em;
}

.input-label {
  color:white;
  font-size:1.2em;
  color:rgba(255,255,255,0.6);
  font-family:"Lato", sans-serif;
  padding:0;
  display:block;
}

.reg {
  color:#fff;
  background:transparent;
  width:100%;
  margin:2% 0;
  outline:none;
  border:none;
  border-bottom:1px solid #ddd;
  font-family: "Montserrat", sans-serif;
}

.reg:focus {

  border-bottom:2px solid #dab817;
  
}

::placeholder {
  color:rgba(255,255,255,0.4);
}

button {
  outline:none;
  border:none;
}

.start-button {
  border:1px solid #dab817;
  padding:10px;
  height:3.5em;
  color:#fff;
  transition:color 300ms ease-in-out;
  display:block;
  width:60%;
  overflow:hidden;
  background:rgba(255,255,255,0);
  z-index:1;
  position:relative;
  letter-spacing:2px;
  font-family:"Lato", sans-serif;
  text-transform:uppercase;
  margin:5% auto;
  font-weight:bold;
  bottom:-1.3em;
  user-select: none;
}

.start-button::before {
  content:'';
  position:absolute ;
 top:0;
 right:0;
 bottom:0;
 left:0;
 z-index:-1;
  background-color: #dab817;
  transform:scaleX(0);
  transform-origin:left;
  transition:transform 300ms ease-in-out;
}

.start-button:hover::before,
.start-button:focus::before {
  transform: scaleX(1.5);
  
}

.start-button:hover,
.start-button:focus {
  color:#000;
  outline:none;
  border:1px solid transparent;
}

@media only screen and (min-width:600px) {
  .start-button {
   float:right;
   word-spacing:5px;
   font-size:1.4em;
   }
  
  .login {
    display:block;
    padding:auto;
    margin:auto;
  }
  
  
  .form {
    display:block;
    padding:auto;
    margin:auto;
  }
  
  .sign-in {
    height:90%;
    width:80%;
  }
  
  .header-text {
    font-size:1.3em;
  }
  
  .heading {
    font-size:2.5em;
  }
  
  .input-label {
    font-size:1.3em;
  }
  
 .reg {
   font-size:1em;
   margin:5% 0;
  border-bottom:2px solid #fff;
  width:80%;
  }
 
 .reg:focus {

  border-bottom:3px solid #dab817;
  
  }
}